ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffc0cb;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(61, 13, 144);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link {
    color: black;
}