/* 
Color Pallete Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489
*/

/* .top-nav {
  /* padding: 5px; 
} */
 
.top-nav .nav-items {
  list-style-type: none;
  /* margin: 0; */
  overflow: hidden;
  background-color: #ffc0cb;
  flex-wrap: wrap;
}

.top-nav .nav-link {
  float: right;
}

.top-nav .nav-items .nav-link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  align-items: center;
  display: block;
  height: 60px;
}

.logo {
  float: left;
  filter: drop-shadow(rgba(0, 0, 0, 0.215) 1px 1px 2px);
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  
}


li a:hover {
  background-color: #81c489;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
}

li .active{
  background: #ff9eae;
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,1);
}

