.sidebar {
  flex: 1;
  background-color: #ffc0cb;
  color: #fff;
  padding: 20px;
  border-right: 1px solid #ddd;
  min-width: 200px;
}

/* Navigation */
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #771d4a;
}

/* Avatar */
.avatar-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
