/* 
Color Pallete Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489
*/

/* AI Analysis Section */
.analysis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-container {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.image-info {
  text-align: center;
  margin-top: 10px;
}

.image-breed {
  font-weight: bold;
}

.image-characteristics,
.image-age,
.image-gender {
  color: #555;
}

.image-loading {
  display: flex;
  align-items: center;
}

.loading-icon {
  margin-right: 5px;
}

/* Past Creations & Current Collection */
.creations-container,
.collection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.creation-item,
.collection-item {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.creation-image,
.collection-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.creation-info,
.collection-info {
  text-align: center;
  margin-top: 10px;
}

.creation-name,
.collection-name {
  font-weight: bold;
}

.creation-details,
.collection-details {
  color: #555;
}
