.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  background: #fff;
}

.input:focus {
  border-color: #ff69b4;
}

.label {
  font-weight: bold;
  margin: 5px;
  display: block;
}

.form-label {
  margin-bottom: 5px;
}
