/* 
Color Palette Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489
*/

/* AI Analysis Section */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.cards-container .card img {
  width: 100%;
}
