/* 
Color Palette Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489
*/

/* AI Analysis Section */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.cards-container .card img {
  width: 100%;
}

.download-card-btn {
  background: #81c489;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
  font-family: inherit;
  font-size: 14px;
  transition: all 0.3s;
}

.download-card-btn:hover {
  background: #6aa97a;
}
