/* General container styles */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    width: 100vw;
    height: 100vh;
    /* Soft pink background */
}

/* Card with the shape resembling a cat's ears */
.signup-card {
    background-color: #f3f3f3;
    /* Light gray background */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 300px;
    text-align: center;
    
}

.signup-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.signup-subtitle {
    color: #81c489;
}

.signup-fields {
    color: #95b3ff;
}

.input-container {
    margin-bottom: 15px;
}

.signup-input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px;
}

.forgot-password,
.signup-link {
    color: #333;
    text-decoration: none;
}

.forgot-password:hover,
.signup-link:hover {
    text-decoration: underline;
}

.signup-card::before,
.signup-card::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 70px;
    background-color: #f3f3f3;
    border-radius: 10px;
    top: -20px;
}

.signup-card::before {
    left: 30px;
    transform: rotate(45deg);
}

.signup-card::after {
    right: 30px;
    transform: rotate(-45deg);
}

.signup-submit {
    background-color: #81c489;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-color: #81c489;
    margin: 15px;
}

.signup-submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.label{
    font-size: 16px;
}