.signup-container {
    padding: 20px;
    background-color: lightblue;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    text-align: center;
}