/* 

Color Pallete Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489

*/

.home-wrapper {
  background-color: #f0f2f5;
  min-height: 100vh;
}

.home-container {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner {
  color: #81c489;
  padding: 15px;
  justify-content: center;
}

.navbar {
  flex: 1;
  background-color: #ffc0cb;
  color: #fff;
  border-right: 1px solid #ddd;
  min-width: 200px;
}

.home-section {
  max-width: 1200px;
  padding: 20px;
}

p ol {
  padding: 20px;
}

p ul{
  padding: 20px;
}


.home-wrapper p{
  font-family: Poppins;
}

.logoContainer {
  text-align: center;
}

.home-section h2 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-us h2 {
  text-align: center;
}

.row {
  display: flex;
}

.features-section .column {
  flex: 50%;
  background-color: rgb(238, 238, 238);
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-section .column {
  flex: 50%;
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
}

.features-title {
  text-align: center;
}
.welcome-section img {
  width: 100%;
  float: right;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission-statement {
  margin: 15px;
}

.about-us {
  margin: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}


