/* 
Color Pallete Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489
*/

.featured-section {
  padding: 20px;
}

.featured-section .content-p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.featured-section .donateToday {
  float: right;
  text-align: right;
  border-radius: 10px;
  width: 300px;
  margin: 15px;
}
