/* 
Color Pallete Reference Guide:
Blue: #95b3ff
Pink: #ffc0cb
Green: #81c489
*/

/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family:Dela Gothic One, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
