<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat-A-Log</title>
</head>
<body>
    <!-- Abigail Boggs
        abigailboggs1@gmail.com
        Date Edited: 7/18/2024
        added future pages and views
    -->
    <h1>This will be the home page</h1>
    <h2>Login will be located on this page, along with other important information</h2>
    <p>
        Temporary links:
    </p>
    <p>
        Admin page:
        <a href="/admin/">Admin page</a>
    </p>

    <p>
        Possible future pages:
        <ul>
            <li>
                <a href="/login">login page</a>
            </li>
            <li>
                <a href="/signup">signup page</a>
            </li>
            <li>
                <a href="/user-dashboard">user dashboard</a>
            </li>
            <li>
                <a href="/collection">collection page</a>
            </li>
        </ul>
    </p>

    <p>
        apis:
        <ul>
            <li>
               <a href="/api/upload_image/">upload image</a>
            </li>
            <li>
                <a href="/api/analyze_image/">analyze image</a>
            </li>
            <li>
                <a href="/api/mint_nft/">mint_nft</a>
            </li>
        </ul>
    </p>
</body>
</html>